- form_for @car do |f|
  - unless @car.errors.empty?
    .form_validation_errors
      %h2 Uh-oh something is wrong...
      %h3= "#{pluralize(@car.errors.count, 'error')} must be corrected to put this car on your lot."
      %ul
        - @car.errors.full_messages.each do |error|
          %li= error
  %ul
    %li!= f.label :title
    %li!= f.text_field :title
    %li!= f.label :description, "Description"
    %li!= f.text_area :description, {:rows => 5}
    %li!= f.submit submit_text